.modalWindow {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  position: absolute;
  z-index: 999;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  height: 245px;
  padding: 10px;
  background-color: white;
  border: 1px solid #4ca969;

  .inputs {
    display: flex;
    flex: auto;
    flex-direction: column;
    justify-content: center;
  }

  .buttonsWrapper {
    display: flex;
    flex: 1;
    margin-top: 20px;
  }
}
