.modalWindow {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  height: 60%;
  padding: 10px;
  background-color: white;
  border: 1px solid #4ca969;

  .inputs {
    display: flex;
    flex: auto;
    flex-direction: column;
    justify-content: center;

    .nameInput,
    .surnameInput,
    .ageInput {
      outline: none;
      font-size: 15px;
      height: 65%;
      padding: 3px;
      margin-top: 10px;
      border: 0;
      border-bottom: 1px solid #4ca969;

      &::placeholder {
        font-variant: small-caps;
      }
    }
  }

  .buttonsWrapper {
    display: flex;
    flex: 1;
  }
}
