.addRemoveIcon {
  color: white;
  margin-right: 3px;
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  transition: 1s;
}

.header {
  display: flex;
  padding: 10px;
  margin-bottom: 5px;
  justify-content: flex-end;
  background-color: #4ca969;

  .button {
    border: 0;
    outline: none;
    cursor: pointer;
    background-color: transparent;
    font-size: 15px;
    color: #f1f9f7;

    &:hover {
      font-size: 16px;
      transition: 0.2s;
    }
  }
}
