.pagination {
  display: flex;
  justify-content: flex-end;
  margin-top: 5px;

  button {
    outline: none;
    cursor: pointer;
    margin-right: 5px;

    &[disabled] {
      pointer-events: none;
    }

    &:last-child {
      margin-right: 0;
    }

    &:hover {
      color: lightgrey;
    }
  }

  select {
    background-color: white;
    cursor: pointer;
    margin-right: 5px;
    outline: none;
  }
}
