.wrapper {
  display: flex;
  flex-direction: column;
  position: relative;
  box-shadow: -1px 0px 9px -4px black;
  height: 50%;

  .tableHeader {
    top: 15%;
    padding: 0 15px;
    margin-top: 5px;
    background-color: white;
    margin-bottom: 10px;

    .nameHeader,
    .surnameHeader,
    .countryHeader {
      display: inline-block;
      margin-right: 15px;
      width: 85px;
      font-weight: bold;
    }
  }

  .table {
    overflow-y: auto;

    .userRow {
      display: flex;
      height: 25px;
      padding: 0 15px;
      cursor: pointer;

      &:nth-child(2n) {
        background-color: rgba(192, 192, 192, 0.1);
      }

      &:hover {
        background-color: rgba(192, 192, 192, 0.2);
        .removeButton {
          visibility: visible;

          &:hover {
            color: rgb(128, 128, 128);
          }
        }
      }

      .userDetails {
        display: flex;
        flex: 1;

        .firstname,
        .surname,
        .country {
          display: block;
          width: 85px;
          margin-right: 15px;
          align-self: center;
        }
      }

      .removeButton {
        border: 0;
        outline: none;
        cursor: pointer;
        visibility: hidden;
        color: rgb(192, 192, 192);
        background-color: transparent;
        font-size: 15px;
      }
    }
  }
}
