.wrapper {
  display: flex;
  flex-direction: column;
  position: relative;
  box-shadow: -1px 0px 9px -4px black;
  height: 50%;

  .tableHeader {
    top: 15%;
    padding: 0 15px;
    margin-top: 5px;
    background-color: white;

    .nameHeader,
    .surnameHeader {
      display: inline-block;
      width: 85px;
      margin-right: 15px;
      margin-bottom: 10px;
      font-weight: bold;
    }
  }

  .table {
    padding: 15px;
    overflow-y: auto;

    .userRow {
      display: flex;
      height: 25px;
      cursor: pointer;

      &:hover {
        background-color: rgba(192, 192, 192, 0.2);
      }
      .firstname,
      .surname {
        display: block;
        width: 85px;
        margin-right: 15px;
        align-self: center;
      }
    }
  }
}
