.wrapper {
  display: flex;
  flex-direction: column;
  position: relative;
  box-shadow: -1px 0px 9px -4px black;
  height: 50%;

  .tableHeader {
    top: 15%;
    padding: 0 15px;
    margin-top: 5px;
    background-color: white;
    margin-bottom: 10px;

    .nameHeader,
    .surnameHeader,
    .countryHeader,
    .genderHeader,
    .ageHeader {
      display: inline-block;
      text-align: center;
      margin-right: 15px;
      width: 85px;
      font-weight: bold;
    }
    .countryHeader {
      width: 90px;
    }
    .genderHeader {
      width: 50px;
    }
  }
}
