.addRemoveIcon {
  color: white;
  margin-right: 3px;
}

.header {
  display: flex;
  padding: 10px;
  margin-bottom: 5px;
  height: 12%;
  justify-content: flex-end;
  background-color: #4ca969;

  .button {
    border: 0;
    outline: none;
    cursor: pointer;
    background-color: transparent;
    font-size: 15px;
    color: #f1f9f7;
  }
}
